PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUD_NAME=dgdiqyw8x
CLOUD_API_KEY=324163994284377
CLOUD_API_SECRET=5XG6d9QJ1p9L6l7IAHkdcIAuSDg

MONGODB_URI=mongodb://127.0.0.1:27017